<div class="container">
  
    <div class="row" id="show-row">
    	<div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Category with id:<%= @category.id %></strong></div>
		
		<li class="list-group-item">
		  <strong>Name:</strong>
		  <%= @category.title__c %>
		</li>

		<li class="list-group-item">
		  <strong>Description:</strong>
		  <%= @category.description__c %>
		</li>

		</div>

		<%= link_to 'Edit', edit_category_path(@category) %> |
		<%= link_to 'Back', categories_path %>
      </div>
    </div>
</div>